<div class="container">

    <div class="header ">
        <div class="logo">
            <a class="logo-link" href="">trxvl</a>
        </div>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-menu-link" href="home">Home</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="stays">Stays</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="flights">Flights</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="packages">Packages</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link bold" href="sign-up">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</div>